.container {
  @apply w-full h-full relative;

  .group,
  .area_1 {
    @apply min-w-0 min-h-0;
  }

  &.columns {
    &,
    & .group {
      @apply flex flex-col flex-nowrap;
    }
    .area_1 {
      @apply w-full;
      height: (100% / 3);
    }
    .group {
      @apply w-full h-full;
      .area_2,
      .area_3 {
        @apply w-full h-1/2;
      }
      .area_2 {
        border-top-width: 1px;
        border-bottom-width: 1px;
      }
    }

    &.active-2 {
      .area_1 {
        @apply h-1/2 flex-none;
        border-bottom-width: 1px;
      }
      .group .area_3 {
        @apply h-full flex-1;
      }
    }
  }
  &.rows {
    &,
    & .group {
      @apply flex flex-nowrap;
    }
    .area_1 {
      @apply h-full;
      width: (100% / 3);
    }
    .group {
      @apply w-full h-full;
      .area_2,
      .area_3 {
        @apply w-1/2;
      }
      .area_2 {
        border-left-width: 1px;
        border-right-width: 1px;
      }
    }

    &.active-2 {
      .area_1 {
        @apply w-1/2 flex-none;
        border-right-width: 1px;
      }
      .group .area_3 {
        @apply w-full flex-1;
      }
    }
  }
  &.bottom {
    @apply flex flex-col flex-nowrap;
    .area_1 {
      order: 2;
    }
    .area_1 {
      @apply h-1/2;
      width: 100%;
      border-top-width: 1px;
    }
    .group {
      @apply flex flex-nowrap w-full h-full;
      order: 1;
      .area_2,
      .area_3 {
        @apply w-1/2;
        height: 100% !important;
      }
      .area_3 {
        flex: 1;
        border-left-width: 1px;
      }
    }
  }
  &.right {
    @apply flex flex-nowrap;
    .area_1 {
      order: 2;
      @apply w-1/2;
      height: 100% !important;
      border-left-width: 1px;
    }

    .group {
      @apply flex flex-col flex-nowrap w-full h-full;
      order: 1;
      .area_2,
      .area_3 {
        @apply h-1/2;
        width: 100% !important;
      }
      .area_2 {
        height: 63%;
      }
      .area_3 {
        flex: 1;
        border-top-width: 1px;
      }
    }
  }
  &.top {
    @apply flex flex-col flex-nowrap;
    .area_1 {
      @apply h-1/2;
      width: 100% !important;
      border-bottom-width: 1px;
    }
    .group {
      @apply flex flex-nowrap w-full h-full;
      .area_2,
      .area_3 {
        @apply w-1/2;
        height: 100% !important;
      }
      .area_3 {
        flex: 1;
        border-left-width: 1px;
      }
    }
  }
  &.left {
    @apply flex flex-nowrap;
    .area_1 {
      @apply w-1/2;
      height: 100% !important;
      border-right-width: 1px;
    }
    .group {
      @apply flex flex-col flex-nowrap w-full h-full;
      .area_2,
      .area_3 {
        @apply h-1/2;
        width: 100% !important;
      }
      .area_2 {
        height: 63%;
      }
      .area_3 {
        flex: 1;
        border-top-width: 1px;
      }
    }
  }

  &.active-1 {
    .area_1 {
      @apply fit;
    }
  }
}
