.container {
  @apply w-full h-full relative;

  .group,
  .area_1 {
    @apply min-w-0 min-h-0;
  }

  &.columns {
    &,
    & .group {
      @apply flex flex-col flex-nowrap;
    }
    .area_1 {
      @apply w-full;
      height: (100% / 3);
    }
    .group {
      @apply w-full h-full;
      .area_2,
      .area_3 {
        @apply w-full h-1/2;
      }
    }
  }
  &.rows {
    &,
    & .group {
      @apply flex flex-nowrap;
    }
    .area_1 {
      @apply h-full;
      width: (100% / 3);
    }
    .group {
      @apply w-full h-full;
      .area_2,
      .area_3 {
        @apply w-1/2;
      }
    }
  }
  &.bottom {
    @apply flex flex-col flex-nowrap;
    .area_1 {
      order: 2;
    }
    .area_1 {
      @apply w-full h-1/2;
    }
    .group {
      @apply flex flex-nowrap w-full h-full;
      order: 1;
      .area_2,
      .area_3 {
        @apply w-1/2 h-full;
      }
    }
  }
  &.right {
    @apply flex flex-nowrap;
    .area_1 {
      order: 2;
      @apply w-1/2 h-full;
      --width: 50%;
    }
    .group {
      @apply flex flex-col flex-nowrap w-full h-full;
      order: 1;
      .area_2,
      .area_3 {
        @apply w-full h-1/2;
      }
    }
  }
  &.top {
    @apply flex flex-col flex-nowrap;
    .area_1 {
      @apply w-full h-1/2;
    }
    .group {
      @apply flex flex-nowrap w-full h-full;
      .area_2,
      .area_3 {
        @apply w-1/2 h-full;
      }
      .area_3 {
        flex: 1;
      }
    }
  }
  &.left {
    @apply flex flex-nowrap;
    .area_1 {
      @apply w-1/2 h-full;
    }
    .group {
      @apply flex flex-col flex-nowrap w-full h-full;
      .area_2,
      .area_3 {
        @apply w-full h-1/2;
      }
    }
  }
}
