// app global css in SCSS form
body {
  background-color: #1b1d28 !important;
}

.input-group {
  @apply w-full h-30px   text-13px border border-gray-600 border-opacity-80;
  @apply flex flex-nowrap items-center justify-between;

  .input-action {
    @apply flex flex-nowrap;
  }

  input,
  textarea {
    @apply bg-transparent w-full h-full px-2;

    min-width: 0;
    &:focus {
      @apply outline-none;
    }
  }
}

.q-input--custom .q-field__control {
  background-color: rgba(255, 255, 255, 0.07) !important;
  input {
    color: white !important;
  }
  height: 35px !important;

  .q-field__label {
    top: 16px !important;
    font-size: 14px !important;
  }

  .q-field__append {
    height: 100% !important;
  }
}
.q-input--custom.q-field--error .q-field__bottom {
  color: #ef4444 !important;
}

.q-input--custom.q-input--medium .q-field__control {
  height: 50px !important;
}


.q-input--custom.q-input--small .q-field__control {
  height: 30px !important;
}

